.container-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto auto 50vh 50vh 50vh 50vh 10vh;
	grid-template-areas:
		"navbar"
		"header"
		"sidebar"
		"main"
		"card-gallery"
		"form"
		"footer";
}

@media (min-width: 768px) {
	.container-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 10vh 90vh 100vh 60vh 10vh;
		grid-template-areas:
			"navbar navbar navbar navbar"
			"header header header header"
			"sidebar main main main"
			"card-gallery card-gallery form form"
			"footer footer footer footer";
	}
}