@import "grid.css";
@import "navbar.css";
@import "header.css";
@import "main.css";
@import "sidebar.css";
@import "card-gallery.css";
@import "form.css";
@import "footer.css";
@import "color-palette.css";

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
